In [48]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import psycopg2

pd.options.display.float_format = '{:.2f}'.format

In [49]:
import os
cwd = os.getcwd()
cwd

'/Users/vinaysaireddymandala/Downloads/World_gdp/notebooks'

In [50]:
df = pd.read_csv('../data/GDP.csv',encoding_errors='ignore')
df.head()

,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth,population,GDP_per_capita,Share of world GDP
0,United States,"$25,462,700,000,000",$25.463 trillion,2.06%,"341,534,046","$74,554",25.32%
1,China,"$17,963,200,000,000",$17.963 trillion,2.99%,"1,425,179,569","$12,604",17.86%
2,Japan,"$4,231,140,000,000",$4.231 trillion,1.03%,"124,997,578","$33,850",4.21%
3,Germany,"$4,072,190,000,000",$4.072 trillion,1.79%,"84,086,227","$48,429",4.05%
4,India,"$3,385,090,000,000",$3.385 trillion,7.00%,"1,425,423,212","$2,375",3.37%

## Exploring Data

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             177 non-null    object
 1   GDP(nominal,2022)   177 non-null    object
 2   GDP(abrrev.)        177 non-null    object
 3   GDP_growth          177 non-null    object
 4   population          177 non-null    object
 5   GDP_per_capita      177 non-null    object
 6   Share of world GDP  177 non-null    object
dtypes: object(7)
memory usage: 9.8+ KB

In [52]:
df.shape

(177, 7)

In [53]:
df.describe()

,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth,population,GDP_per_capita,Share of world GDP
count,177,177,177,177,177,177,177
unique,177,177,169,162,177,176,57
top,United States,"$25,462,700,000,000",$115 billion,2.06%,"341,534,046",$816,0.00%
freq,1,1,3,2,1,2,30

## Dropping Duplicate Records

In [54]:
df.duplicated().sum()

np.int64(0)

No Duplicate records

## Missing Values

In [55]:
df.isnull().sum()

Country               0
GDP(nominal,2022)     0
GDP(abrrev.)          0
GDP_growth            0
population            0
GDP_per_capita        0
Share of world GDP    0
dtype: int64

No Missing Values

## Data Types - Transformation

In [56]:
df.dtypes

Country               object
GDP(nominal,2022)     object
GDP(abrrev.)          object
GDP_growth            object
population            object
GDP_per_capita        object
Share of world GDP    object
dtype: object

In [57]:
df['GDP(nominal,2022)'] = df['GDP(nominal,2022)'].str.replace('$', '')
df['GDP(nominal,2022)'] = df['GDP(nominal,2022)'].str.replace(',', '').astype(float)
df.head()

,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth,population,GDP_per_capita,Share of world GDP
0,United States,25462700000000.00,$25.463 trillion,2.06%,"341,534,046","$74,554",25.32%
1,China,17963200000000.00,$17.963 trillion,2.99%,"1,425,179,569","$12,604",17.86%
2,Japan,4231140000000.00,$4.231 trillion,1.03%,"124,997,578","$33,850",4.21%
3,Germany,4072190000000.00,$4.072 trillion,1.79%,"84,086,227","$48,429",4.05%
4,India,3385090000000.00,$3.385 trillion,7.00%,"1,425,423,212","$2,375",3.37%

In [58]:
df.rename(columns={'GDP_growth': 'GDP_growth_percentage','Share of world GDP':'worldGDP_share_percentage'}, inplace=True)
df['GDP_growth_percentage'] = df['GDP_growth_percentage'].str.replace('%', '').astype(float)
df['worldGDP_share_percentage'] = df['worldGDP_share_percentage'].str.replace('%', '').astype(float)
df.head()

,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth_percentage,population,GDP_per_capita,worldGDP_share_percentage
0,United States,25462700000000.00,$25.463 trillion,2.06,"341,534,046","$74,554",25.32
1,China,17963200000000.00,$17.963 trillion,2.99,"1,425,179,569","$12,604",17.86
2,Japan,4231140000000.00,$4.231 trillion,1.03,"124,997,578","$33,850",4.21
3,Germany,4072190000000.00,$4.072 trillion,1.79,"84,086,227","$48,429",4.05
4,India,3385090000000.00,$3.385 trillion,7.00,"1,425,423,212","$2,375",3.37

In [59]:
df['population'] = df['population'].str.replace(',', '').astype(float)
df.head()

,Country,"GDP(nominal,2022)",GDP(abrrev.),GDP_growth_percentage,population,GDP_per_capita,worldGDP_share_percentage
0,United States,25462700000000.00,$25.463 trillion,2.06,341534046.00,"$74,554",25.32
1,China,17963200000000.00,$17.963 trillion,2.99,1425179569.00,"$12,604",17.86
2,Japan,4231140000000.00,$4.231 trillion,1.03,124997578.00,"$33,850",4.21
3,Germany,4072190000000.00,$4.072 trillion,1.79,84086227.00,"$48,429",4.05
4,India,3385090000000.00,$3.385 trillion,7.00,1425423212.00,"$2,375",3.37

In [60]:
df.columns = df.columns.str.lower()
df.columns

Index(['country', 'gdp(nominal,2022)', 'gdp(abrrev.)', 'gdp_growth_percentage',
       'population', 'gdp_per_capita', 'worldgdp_share_percentage'],
      dtype='object')

## Saving clean data

In [62]:
df.to_csv('../data/world_gdp_clean_data.csv', index=False)

## Database Connections

In [63]:
#mysql connection
# "mysql+pymysql://user:password@localhost:3306/db_name"
engine_mysql = create_engine("mysql+pymysql://root:AZaz09$$@localhost:3306/world_gdp")

try:
    engine_mysql
    print("Connection Successed to mysql")
except:
    print("Unable to connect")

Connection Successed to mysql

In [64]:
df.to_sql(name='world_gdp', con=engine_mysql, if_exists='append', index=False)

177